@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

body {
    background-image: url(./images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
}

header {
    width: 100%;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
}

.JOURNEY {
    color: white;
    cursor: pointer;
    position: absolute;
    font-weight: 700;
    font-size: 22px;
    top: 18px;
    left: 79px;
}

.JOURNEY:hover {
    color: #3CB878;
}

.calendar {
    fill: white;
    cursor: pointer;
    position: absolute;
    top: 17px;
    right: 405px;
}

.calendar:hover {
    fill: #3CB878;
}

.mail {
    fill: white;
    cursor: pointer;
    position: absolute;
    top: 17px;
    right: 355px;
}

.mail:hover {
    fill: #3CB878;
}

.nav {
    fill: white;
    cursor: pointer;
    position: absolute;
    top: 17px;
    right: 308px;
}

.nav:hover {
    fill: #3CB878;
}

.line {
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    top: 20px;
    right: 282px;
}

.header-right {
    color: white;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    top: 22px;
    right: 79px;
}

.LogIn:hover,
.SignUp:hover {
    color: #3CB878;
    cursor: pointer;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 712px;
}

.form {
    width: 444px;
    height: 584px;
    background-color: white;
    position: relative;
}

.square {
    background-color: #3CB878;
    position: absolute;
    top: 31px;
    width: 18px;
    height: 18px;
}

.form-SignUp {
    font-weight: 400;
    font-size: 20px;
    top: 30px;
    left: 61px;
    position: absolute;
}

.form-LogIn {
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;
    position: absolute;
    top: 35px;
    right: 59px;
}

.form-LogIn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button-facebook {
    background-color: #305DB8;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    left: 60px;
}

.button-facebook:hover {
    background-color: #022263;
    cursor: pointer;
}

.facebook {
    position: absolute;
    top: 12px;
    left: 17px;
}

.line1 {
    width: 1px;
    height: 28px;
    background-color: rgba(10, 22, 47, 0.1);
    position: absolute;
    top: 10px;
    left: 48px;
}

.Facebook {
    position: absolute;
    color: white;
    top: 17px;
    right: 22px;
    font-weight: 400;
    font-size: 16px;
}

.button-google {
    background-color: #DF4A32;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    right: 60px;
}

.button-google:hover {
    background-color: #AB1F09;
    cursor: pointer;
}

.google {
    position: absolute;
    top: 14px;
    left: 10px;
}

.line2 {
    width: 1px;
    height: 28px;
    background-color: rgba(43, 13, 9, 0.1);
    position: absolute;
    top: 10px;
    left: 48px;
}

.Google {
    position: absolute;
    color: white;
    top: 17px;
    right: 27px;
    font-weight: 400;
    font-size: 16px;
}

.line3 {
    width: 152px;
    height: 1px;
    background-color: rgba(242, 242, 242, 1);
    position: absolute;
    top: 148px;
    left: 58px;
    font-weight: 400;
    font-size: 14px;
}

.or p {
    position: absolute;
    left: 215px;
    top: 139px;
    color: #848484;
}

.line4 {
    width: 152px;
    height: 1px;
    background-color: rgba(242, 242, 242, 1);
    position: absolute;
    top: 148px;
    right: 58px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 164px;
    left: 60px;
}

.input1,
.input2,
.input3,
.input4,
.input5 {
    width: 319px;
    height: 44px;
    border-radius: 3px;
    text-indent: 20px;
    border-width: 1px;
    border-color: rgb(0, 0, 0, 0.1);
}

.input1:focus,
.input2:focus,
.input3:focus,
.input4:focus,
.input5:focus {
    outline: none;
    border-color: rgb(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
}

::placeholder {
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    color: #BEBEBE;
}

.checkbox {
    color: black;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    bottom: 90px;
    left: 57px;
}

.terms {
    color: #3CB878;
}

.terms:hover {
    text-decoration: underline;
}

.button {
   background-color:rgba(60, 184, 120, 0.8);
   border-style: none;
   border-radius: 5px;
   position: absolute;
   bottom: 19px;
   width: 324px;
   height: 46px;
   left: 60px;
   color: white;
   cursor: pointer;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 400;
   font-size: 16px;
}

.button:hover {
    background-color: #01813F;
}